<!DOCTYPE html>
<html>
<head>
{% load static %}
{% csrf_token %}
<title>MeMeetCat</title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//mobile apps-->
<!-- Custom Theme files -->
<link href="{% static 'Page/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'Page/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'Page/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!--web-fonts-->
<link href='http://fonts.useso.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>	
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!-- start-smooth-scrolling-->
<script type="text/javascript" src="{% static 'Page/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'Page/js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
		
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->	
</head>
<body>
	<!--banner-->
	<div class="banner">
		<div class="effect5"><!--shadow effect-->
			<div class="container">
				<div class="logo">
					<h1><a href="{% url 'yumiao:index' %}"><img src="{% static 'Page/images/MeMeet Cat!.png' %}" alt="" /></a></h1>
				</div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
								
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-center">
								<li><a href="{% url 'yumiao:index' %}" class="link link--yaku"><span>H</span><span>O</span><span>M</span><span>E</span></a></li>
								<li class="active"><a href="{% url 'yumiao:about' %}"><span>A</span><span>B</span><span>O</span><span>U</span><span>T</span></a></li>
								<li><a href="{% url 'yumiao:apply' %}" class="link link--yaku"><span>A</span><span>P</span><span>P</span><span>L</span><span>Y</span></a></li>
                                <li><a href="{% url 'yumiao:gallery' %}" class="link link--yaku"><span>C</span><span>A</span><span>T</span><span>S</span></a></li>
								<li><a href="{% url 'yumiao:myaccount' %}" class="link link--yaku"><span>M</span><span>Y</span><span>&nbsp;</span><span>A</span><span>C</span><span>C</span><span>O</span><span>U</span><span>N</span><span>T</span></a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!--//banner-->
	<!-- about-->
	<!--about-top-->
	<div class="about">
		<!-- container -->
		<div class="container">
			<h2 class="title">About Us</h2>
			<div class="about-info">
				<div class="col-md-4 about-top-grid">
					<img src="{% static 'Page/images/cat5.jpg' %}" alt="" />
				</div>
				<div class="col-md-8 about-top-grid about-grid-right">
					<h4>Me Meet Cat</h4>
					<p>The objective of our application is to give people an opportunity to post message about stray cats to be adopted, adopt cats online and share opinions about raising a cat.
                        Users could view all information about cat to be adopted. They also could search cats with age, breed and location.
                        Those who are intended to adopt cats could upload personal information and reason for adopting to get an opportunity.
                        Cat lovers will be able to communicate at the comment zone. Everyone who have questions about raising cats could post their questions at comment zone.
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--//container-->
	</div>
	<!--//about-top-->
	<!--events-->
	<div class="events">
		<div class="container">
			<h3 class="title">Events</h3>
			<div class="events-info">
				<div class="col-md-6 event-grids">
					<div class="six">
						<h4>10<span>Nov</span></h4>
						<h6><a href="apply.html">Sed ut perspiciatis unde omnis </a></h6>
						<div class="clearfix"> </div>
					</div>
					<p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
					<a href="apply.html" class="btn btn-1 btn-1b">Read More</a>
				</div>
				<div class="col-md-6 event-grids">
					<div class="six">
						<h4>20<span>Dec</span></h4>
						<h6><a href="apply.html">Voluptatem accusa doloremque </a></h6>
						<div class="clearfix"> </div>
					</div>
					<p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
					<a href="apply.html" class="btn btn-1 btn-1b">Read More</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//events-->
	<!--products-->
	<div class="about about-products">		
		<div class="container">
			<h3 class="title">Feedbacks</h3>
			<div class="products-row">
				<div class="col-sm-6 col-md-3 products-grids">
					<div class="thumbnail products-thmnl">
						<div class="product-img">
							<img src="{% static 'Page/images/ex3.jpg' %}" class="img-responsive zoom-img" alt="...">
						</div>
						<div class="caption">
							<h4><a href="apply.html">Stella</a></h4>
							<p>"The most correct decision I have ever made is adopting Stella. She's like an angle that brightens my world."</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 products-grids">
					<div class="thumbnail products-thmnl">
						<div class="product-img">
							<img src="{% static 'Page/images/ex4.jpg' %}" class="img-responsive zoom-img" alt="...">
						</div>
						<div class="caption">
							<h4><a href="apply.html">George</a></h4>
							<p>"George is a adorable boy who can always feel you emotions. I have been much more happier since I adopted George."</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 products-grids">
					<div class="thumbnail products-thmnl">
						<div class="product-img">
							<img src="{% static 'Page/images/ex8.jpg' %}" class="img-responsive zoom-img" alt="...">
						</div>
						<div class="caption">
							<h4><a href="apply.html">Kiki</a></h4>
							<p>"You can never imagine how lively Kiki has been now. She's now my daughters best friend. I'm so glad that we have her."</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 products-grids">
					<div class="thumbnail products-thmnl">
						<div class="product-img">
							<img src="{% static 'Page/images/ex9.jpg' %}" class="img-responsive zoom-img" alt="...">
						</div>
						<div class="caption">
							<h4><a href="#">Leon</a></h4>
							<p>"Leon now is the most popular guy in our neighborhood. Children in our neighborhood love to play with him."</p>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//products-->	
	<!--contact-->
	<div class="contact" id="contact">
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2160.61882886359!2d-4.288122909821198!3d55.872261162302685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488845d20af469b3%3A0xa3f0620b655e4983!2z5qC85ouJ5pav5ZOl5aSn5a2m!5e0!3m2!1szh-CN!2suk!4v1584643883044!5m2!1szh-CN!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			<div class="map-color">
			</div>
		</div>
		<div class="contact-grids">
			<div class="col-md-4 contact-grid news-ltr">
				<div class="newsletter">
					<h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Newsletter</h3>
				</div>
				<form>
					<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="Subscribe" >
				</form>
			</div>
			<div class="col-md-5 contact-grid">
				<form>
					<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="submit" value="Submit" >
				</form>
			</div>
			<div class="col-md-3 contact-grid">
				<div class="call">
					<div class="col-xs-2 contact-grdl">
						<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 contact-grdr">
						<ul>
							<li>+3402 890 679</li>
							<li>+5356 890 679</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="address">
					<div class="col-xs-2 contact-grdl">
						<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 contact-grdr">
						<ul>
							<li>345 Diamond Street,</li>
							<li>Greece.</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="mail">
					<div class="col-xs-2 contact-grdl">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 contact-grdr">
						<ul>
							<li><a href="mailto:example@mail.com">mail@example.com</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//contact-->
	<!--footer-->
	<div class="footer">
		<div class="footer-info">
			<div class="container">	
				<div class="icons">	
					<ul>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><img src="{% static 'Page/images/i1.png' %}" alt=""/></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><img src="{% static 'Page/images/i2.png' %}" alt=""/> </a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Google+"><img src="{% static 'Page/images/i3.png' %}" alt=""/></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn"><img src="{% static 'Page/images/i4.png' %}" alt=""/> </a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><img src="{% static 'Page/images/i5.png' %}" alt=""/> </a></li>
					</ul>
					<script>$(function () {
					  $('[data-toggle="tooltip"]').tooltip()
					})</script>
				</div>
				<div class="row" style="padding-top: 60px; clear: both;">
				    <div class="col-md-12 text-center"><p><small>&copy; All Rights Reserved. More Information Contact Us <a href="" target="_blank" title="eee">memeetcat@gmail.com</a></small></p>
                </div>
			</div>
		</div>
	</div>
	<!--//footer-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'Page/js/bootstrap.js' %}"></script>
</body>
</html>