<!DOCTYPE html>
<html>
<head>
<title>MeMeetCat</title>
<!--mobile apps-->
{% load static %}
{% csrf_token %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//mobile apps-->
<!-- Custom Theme files -->
<link href="{% static 'Page/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'Page/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'Page/js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
<!--web-fonts-->
<link href='http://fonts.useso.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>	
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
	<!--banner-->
<div class="banner">
		<div class="effect5"><!--shadow effect-->
			<div class="container">
				<div class="logo">
					<h1><a href="index.html"><img src="{% static 'Page/images/MeMeet Cat!.png' %}" alt="" /></a></h1>
				</div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu

							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-center">
								<li><a href="{% url 'yumiao:index' %}" class="link link--yaku"><span>H</span><span>O</span><span>M</span><span>E</span></a></li>
								<li><a href="{% url 'yumiao:about' %}" class="link link--yaku"><span>A</span><span>B</span><span>O</span><span>U</span><span>T</span></a></li>
								<li class="active"><a href="{% url 'yumiao:forum' %}"><span>F</span><span>O</span><span>R</span><span>U</span><span>M</span></a></li>
								<li><a href="{% url 'yumiao:gallery' %}" class="link link--yaku"><span>C</span><span>A</span><span>T</span><span>S</span></a>
								<li><a href="{% url 'yumiao:myaccount' %}" class="link link--yaku"><span>M</span><span>Y</span><span>&nbsp;</span><span>A</span><span>C</span><span>C</span><span>O</span><span>U</span><span>N</span><span>T</span></a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!--//banner-->
	<!-- single -->
	<div class="single">
		<div class="container">
			<h2 class="title">Forum</h2>
			<div class="single-info">
				<div class="col-md-8 single-left">
					<h3>Nicolas</h3>
					<ul>
						<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 24 March 2020</li>
						<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Nicolas</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> No Comments</a></li>
					</ul>
					<img src="{% static 'Page/images/cat6.jpg' %}" alt=" " class="img-responsive" />
					<p>I just broken up with his girlfriend. “You don’t even love me! You just want to be accompanied!
                        Why don’t you raise a dog?” That were the words her girlfriend shouted at his face that night.
                        After she left, these words have occurred to him several times.
                        “Probably she’s right, or at least to a certain extent.”
                        However, she was wrong on one thing, that he loves cats the most, instead of dogs.
                        Therefore, he is looking for a website to adopt a cat.
						<i>You don’t even love me! You just want to be accompanied! Why don’t you raise a dog?</i>
						<span>But I must explain to you how all this mistaken idea of denouncing pleasure 
							and praising pain was born and I will give you a complete account of the system, and 
							expound the actual teachings of the great explorer of the truth, the master-builder 
							of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it 
							is pleasure</span></p>
					<div class="admin">
						<div class="admin-left">
							<img src="{% static 'Page/images/cat7.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="admin-right">
							<h4><a href="#">Laura James</a></h4>
							<p>But I must explain to you how all this mistaken idea of denouncing pleasure 
								and praising pain was born.</p>
							<a href="#"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>Reply</a>
						</div>
						<div class="clearfix"> </div>
					</div>
{#					<div class="leave-reply">#}
{#						<h4>Leave A Reply</h4>#}
{#						<form>#}
{#							<input type="text" value="Full Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">#}
{#							<input type="text" value="Age" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Age';}" required="" style="float: right">#}
{#                            <input type="text" value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}" required="">#}
{#							<textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Reason for application...</textarea>#}
{#							<input type="submit" value="Submit" >#}
{#                            <input type="reset" value="Clear" >#}
{#                            <div>#}
{#                                <div>#}
{#                                    <input type="submit" value="Submit">#}
{#                                    <input type="reset" value="Clear" style="float: right">#}
{#                                </div>#}
{#                            </div>#}
{#						</form>#}
{#					</div>#}
				</div>
				<div class="col-md-4 single-right">
					<div class="footer-top-grid1">
						<h4>Recent Tags</h4>
						<ul class="tag2">
							<li><a href="#">British Shorthair</a></li>
							<li><a href="#">Cyprus</a></li>
							<li><a href="#">Ragdoll</a></li>
						</ul>
						<ul class="tag2">
							<li><a href="#">Scottish Fold</a></li>
							<li><a href="#">Siberian</a></li>
							<li><a href="#">Cyprus</a></li>
						</ul>
						<ul class="tag2">
							<li><a href="#">Snowshoe</a></li>
							<li><a href="#">Cyprus</a></li>
							<li><a href="#">Ragdoll</a></li>
						</ul>
						<ul class="tag2">
							<li><a href="#">Siberian</a></li>
							<li><a href="#">Cyprus</a></li>
							<li><a href="#">Snowshoe</a></li>
                            <li><a href="#">Birman</a></li>
						</ul>
					</div>
					<div class="recent">
						<h4>Recent Posts</h4>
						<ul>
							<li><a href="#">Pam, London</a><span><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>January 26, 2020.</span></li>
							<li><a href="#">Daly, Edinburgh</a><span><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>January 28, 2020.</span></li>
							<li><a href="#">Aby, Dundee</a><span><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>January 30, 2020.</span></li>
							<li><a href="#">Adela, Aberdeen</a><span><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>February 2, 2020.</span></li>
							<li><a href="#">Silver, Inverness</a><span><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>February 5, 2020.</span></li>
						</ul>
					</div>
					<div class="categories">
						<h4>Categories</h4>
						<ul>
							<li><a href="#">We love MeMeetCat!</a></li>
							<li><a href="#">We can adopt cats on MeMeetCat!</a></li>
							<li><a href="#">We can meet new friends on MeMeetCat!</a></li>
						</ul>
					</div>
					<div class="instagram-feed">
						<h3>Instagram Feed</h3>
						<div class="footer-grid-left">
							<a href="#"><img src="{% static 'Page/images/ex1.jpg' %}" alt=" " class="img-responsve" /></a>
						</div>
						<div class="footer-grid-left">
							<a href="#"><img src="{% static 'Page/images/ex2.jpg' %}" alt=" " class="img-responsve" /></a>
						</div>
						<div class="footer-grid-left">
							<a href="#"><img src="{% static 'Page/images/ex3.jpg' %}" alt=" " class="img-responsve" /></a>
						</div>
						<div class="footer-grid-left">
							<a href="#"><img src="{% static 'Page/images/ex6.jpg' %}" alt=" " class="img-responsve" /></a>
						</div>
						<div class="footer-grid-left">
							<a href="#"><img src="{% static 'Page/images/ex7.jpg' %}" alt=" " class="img-responsve" /></a>
						</div>
						<div class="footer-grid-left">
							<a href="#"><img src="{% static 'Page/images/ex8.jpg' %}" alt=" " class="img-responsve" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //single -->
    <div class="contact" id="contact">
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2160.61882886359!2d-4.288122909821198!3d55.872261162302685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488845d20af469b3%3A0xa3f0620b655e4983!2z5qC85ouJ5pav5ZOl5aSn5a2m!5e0!3m2!1szh-CN!2suk!4v1584643883044!5m2!1szh-CN!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			<div class="map-color">
			</div>
		</div>
		<div class="contact-grids">
			<div class="col-md-4 contact-grid news-ltr">
				<div class="newsletter">
					<h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Newsletter</h3>
				</div>
				<form>
					<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="Subscribe" >
				</form>
			</div>
			<div class="col-md-5 contact-grid">
				<form>
					<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="submit" value="Submit" >
				</form>
			</div>
			<div class="col-md-3 contact-grid">
				<div class="call">
					<div class="col-xs-2 contact-grdl">
						<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 contact-grdr">
						<ul>
							<li>+3402 890 679</li>
							<li>+5356 890 679</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="address">
					<div class="col-xs-2 contact-grdl">
						<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 contact-grdr">
						<ul>
							<li>University of Glasgow,</li>
							<li>Glasgow.</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="mail">
					<div class="col-xs-2 contact-grdl">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 contact-grdr">
						<ul>
							<li><a href="mailto:example@mail.com">memeetcat@gmail.com</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//contact-->
	<!--footer-->
	<div class="footer">
		<div class="footer-info">
			<div class="container">	
				<div class="icons">	
					<ul>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><img src="{% static 'Page/images/i1.png' %}" alt=""/></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><img src="{% static 'Page/images/i2.png' %}" alt=""/> </a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Google+"><img src="{% static 'Page/images/i3.png' %}" alt=""/></a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn"><img src="{% static 'Page/images/i4.png' %}" alt=""/> </a></li>
						<li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><img src="{% static 'Page/images/i5.png' %}" alt=""/> </a></li>
					</ul>
					<script>$(function () {
					  $('[data-toggle="tooltip"]').tooltip()
					})</script>
				</div>
				<div class="row" style="padding-top: 60px; clear: both;">
				    <div class="col-md-12 text-center"><p><small>&copy; All Rights Reserved. More Information Contact Us <a href="" target="_blank" title="eee">memeetcat@gmail.com</a></small></p>
                </div>
			</div>
		</div>
	</div>
	<!--//footer-->
	<!-- start-smooth-scrolling-->
	<script type="text/javascript" src="{% static 'Page/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'Page/js/easing.js' %}"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!--//end-smooth-scrolling-->	
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'Page/js/bootstrap.js' %}"></script>
</body>
</html>